<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>HRM </title>
    <link rel="icon" href="/static/images/it.webp" >
    <link rel="stylesheet" href="/static/css/manager_interview_score.css">

</head>
<body>
    <%-include('../common/header')%>
    
      <%-include('../common/sidebar')%>

<div class="mt-5"></div>
<div class="container-fluid h-100  position-relative">
    <button class=" pos offbtn border-0 p-0 " type="button" data-bs-toggle="offcanvas" data-bs-target="#offcanvasWithBothOptions" aria-controls="offcanvasWithBothOptions">
        <i class="fa-solid  fa-angles-right rounded-end-3 text-light side_button fs-5 bg_bl  span_expand "></i>
           </button>
<div class="row dyn_row justify-content-end ">

<div class="col-xl-10 col-md-9 col-8 dyn_col px-3  ps-4">

    <div class="box">
        <h5 class="text-center mt-3 text-light h5_mod" >Manager Interview Score</h5>
    

    <div class="container-fluid">
        <div class="row table-responsive">
            <table class="table_1 table-bordered border-dark" id="table1">
                <thead class="">
                    <tr>
                        <th>Level</th>
                        <th>R_ID.</th>
                       
                        <th>JD ID</th>
                        <th>Interview Date</th>
                        <th>Candidate Name</th>
                        <th>Candidate Email ID</th>
                        <th>Mode Of Interview</th>
                        <th>Position</th>
                        <th>Source Of Profile</th>
                        <th>Score</th>
                        <th>Done</th>
                    </tr>
                    
                </thead>
                <tbody  class="" id="tbody_1">
                    <% for(i=0; i<data1.length; i++){ %>
                    <tr>
                        <td><%= data1[i].level%></td>
                        <td><%= data1[i].r_id %></td>
                        <td><%= data1[i].jdid %></td>                     
                        <td><%= data1[i].Interview_Date_formated %></td>
                        <td><%= data1[i].Candidate_Name %></td>
                        <td><%= data1[i].candidate_email %></td>
                        <td><%= data1[i].Mode_of_Interview %></td>
                        <td><%= data1[i].vertical %></td>
                        <td><%= data1[i].source_of_profile %></td>
                        <td></td>
                        <td>
                            <input type="hidden" id="jd_id1" value="<%= data1[i].jdid %>">
                            <input type="hidden" id="level1" value="<%= data1[i].level%>">
                            <input type="hidden" id="NAME1" value="<%= data1[i].Candidate_Name %>">
                            <input type="hidden" id="DATE1" value="<%= data1[i].Interview_Date_formated %>">
                            <input type="hidden" id="SOURCE1" value="<%= data1[i].source_of_profile %>">
                            <input type="hidden" id="vertical1" value="<%= data1[i].vertical %>">
                            <input type="hidden" id="interview_mode1" value="<%= data1[i].Mode_of_Interview %>">
                            
                          
                           
                            <input type="hidden" id="division1" value="<%= data1[i].division %>">
                          
                            
                            <button type="submit" class="button1" id="button1<%= i %>" onclick="showForm()" data-rc_id="<%= data1[i].r_id %>">Give</button>
                        </td>
                    
                      

                    </tr>
                    <%}%>
                </tbody>
            </table>
        </div>
    </div>

    



<!-- ------------------pdf design start---------------------------- -->
<!-- ------------------pdf design start---------------------------- -->
<!-- ------------------pdf design start---------------------------- -->

<div class="container-fluid py-2" style="display: none;" id="formContainer">
    
    <div class="row ">
        <div class="col-4 text-center">
            <img src="/static/images/logo_1.png" alt="" width="150px">
        </div>
        <div class="col-8 text-center pt-2">
            <div class="f_18 fw_900">JUBILANT AGRI & CONSUMER PRODUCTS LTD.</div>
            <div class="f_14 pb-4">Corporate Human Resource Development</div>
            <div class="f_18 fw_700">Candidate Evaluation Form</div>
        </div>
        
    </div>

    <div class="row mt-4 border_3 pb-2 pt-1 d-flex justify-content-around">
        
        <div class="col-md-3 ">
            <label class="f_14 fw-bold" for="">
                Name:
            </label>        
            <input type="text" id="NAME"  value="" class="form-control input_border input_h px-2" disabled>
                
        </div>
      
    
        <div class="col-md-3 ">
            <label class="f_14 fw-bold" for="">
                Date:
            </label>        
            <input type="text" id="DATE" value="" class="form-control input_border input_h px-2" disabled>
                   
        </div>
    
        <div class="col-md-3 ">
            <label class="f_14 fw-bold" for="">
                Source:
            </label>        
            <input type="text" id="SOURCE" value="" class="form-control input_border input_h px-2" disabled>
                   
        </div>
    
    </div>
    
    <div class="row mt-3 border_3 pb-2 pt-1 d-flex justify-content-around">
        
        <div class="col-md-3 ">
            <label class="f_14 fw-bold" for="">
                Position:
            </label>        
            <input type="text" id="vertical" class="form-control input_border input_h px-2" disabled>
                   
        </div>
    
        <div class="col-md-3 ">
            <label class="f_14 fw-bold" for="">
                Mode Of Interview:
            </label>        
            <input type="text" id="interview_mode" class="form-control input_border input_h px-2" disabled>
                   
        </div>
    
        <div class="col-md-3 ">
            <label class="f_14 fw-bold" for="">
                Div./Deptt.:
            </label>        
            <input type="text" id="division" class="form-control input_border input_h px-2" disabled>
                   
        </div>
    
    </div>
    
<!-- table -->

    <div class="row table-responsive" id="tbl_unique_02">
              
    
    
<!-- static -->
    
  
    
</div>
    
    <!-- static -->
    
    <div class="row mt-4 f_13 border_3">
        <div class="col-12">
            This Assessment Sheet will Standardize the recording of information collected during the interview and will assist in Evaluating and Comparing different applicants, appearing for the interview.
        </div>
        <div class="col-12 fw-bold">
            This sheet must be completed during or immediately following the interview.
        </div>
        <div class="col-12 fw-bold">
            Please indicate your assessment on the basis of Ten(10) point Rating scale
        </div>
        <div class="col-12">
            <span class="">
                --------------------------------- >
                </span>
                <br>
                <span >
                    1 &nbsp; 2 &nbsp; 3 &nbsp; 4 &nbsp; 5 &nbsp; 6 &nbsp; 7 &nbsp; 8 &nbsp; 9 &nbsp; 10
                </span>
        </div>

    
     <input type="hidden" value="<%=empcocet%>" id="empconcet">
     <input type="hidden" id="jd_id">
     <input type="hidden" id="level">
     <input type="hidden" id="r_id" value="" name="r_id">
    
  
        <div class="text-center py-2">
            <button type="submit" id="button" class="btn blu text-light f_13 fw-bold">Submit</button>
        </div>
      
    </div>
    
    
    </div>
   



</div>

</div>


</div>
</div>



<!-- <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script> -->
<script src="/static/cdn/sweetalert2/sweetalert2.js"></script>
<script src="/static/js/manager_interview_score.js"></script>

<!-- <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/js/bootstrap.bundle.min.js" integrity="sha384-YvpcrYf0tY3lHB60NNkmXc5s9fDVZLESaAA55NDzOxhy9GkcIdslK1eN7N6jIeHz" crossorigin="anonymous"></script> -->
<!-- <script src="/static/js/manager_requirement.js"></script> -->



</body>
</html>