<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>HRM </title>
    <link rel="icon" href="/static/images/it.webp" >
    <link rel="stylesheet" href="/static/css/manager_interview_schedule.css">
    <!-- <link rel="stylesheet" href="/static/cdn/bootstrap-5.3.3/css/bootstrap.min.css"> -->
<link rel="stylesheet" href="/static/css/dataTable.bootstrap.css">
    

    

</head>
<body>
    <%-include('../common/header')%>
    
      <%-include('../common/sidebar')%>

      <div class="mt-5"></div>
      <div class="container-fluid h-100 position-relative">
          <button class=" pos offbtn border-0 p-0 " type="button" data-bs-toggle="offcanvas" data-bs-target="#offcanvasWithBothOptions" aria-controls="offcanvasWithBothOptions">
         <i class="fa-solid  fa-angles-right rounded-end-3 text-light side_button fs-5 bg_bl  span_expand "></i>
            </button>
      <div class="row dyn_row justify-content-end ">
      
      
      <div class="col-xl-10 col-md-9 col-8 dyn_col   ">  
          <h5 class="text-center mt-3 text-light h5_mod" >Recruitment Request </h5>
          <div class="px-1 table-responsive">
          
              <!-- <table class="w-100 table_text_aling_middle table-bordered border-dark" id="jd_table">
                <thead class="header1">
                    <tr>
                        <th>S.No.</th>
                        <th>Level</th>
                        <th>JD ID</th>
                        <th>Interview Date</th>
                        <th>Candidate Name</th>
                        <th>Candidate Email ID</th>
                        <th>Mode Of Interview</th>
                        <th>Vertical</th>
                        <th>Source Of Profile</th>
                        <th>Resume</th>
                    </tr>
                    
                </thead>
                <tbody>
                    <% for(i=0; i<data1.length; i++){ %>
                    <tr>
                        <td><%= i+1%></td>
                        <td><%= data1[i].level%></td>
                        <td><%= data1[i].jdid %></td>
                        <td><%= data1[i].Interview_Date_formated %></td>
                        <td><%= data1[i].Candidate_Name %></td>
                        <td><%= data1[i].candidate_email %></td>
                        <td><%= data1[i].Mode_of_Interview %></td>
                        <td><%= data1[i].vertical %></td>
                        <td><%= data1[i].source_of_profile %></td>
                        <td>
                            
                            <a href="/static/pdf/<%= data1[i].resume %>" target="_blank">
                                <i class="fa-solid fa-file-pdf resume_icon"></i>
                            </a>
                        </td>
                    </tr>
                    <%}%>
                </tbody>
            </table> -->
      
            <table class="w-100 table_text_aling_middle table-bordered border-dark" id="jd_table">
                <thead class="header1">
                    <tr>
                        <th>S.No.</th>
                        <th>Level</th>
                        <th>JD ID</th>
                        <th>Interview Date</th>
                        <th>Candidate Name</th>
                        <th>Candidate Email ID</th>
                        <th>Mode Of Interview</th>
                    
                        <th>Source Of Profile</th>
                        <th>Resume</th>
                    </tr>
                </thead>
                <tbody>
                    <% for(let i=0; i<data1.length; i++) { %>
                    <tr>
                        <td><%= i+1 %></td>
                        <td><%= data1[i].level %></td>
                        <td><%= data1[i].jdid %></td>
                        <td><%= data1[i].Interview_Date_formated %></td>
                        <td><%= data1[i].Candidate_Name %></td>
                        <td><%= data1[i].candidate_email %></td>
                        <td><%= data1[i].Mode_of_Interview %></td>
                      
                        <td><%= data1[i].source_of_profile %></td>
                        <td>
                            <a href="/static/<%= data1[i].resumePath %>" target="_blank">
                                <% if (data1[i].resumePath.endsWith('.pdf')) { %>
                                    <i class="fa-solid fa-file-pdf resume_icon"></i>
                                <% } else { %>
                                    <i class="fa-solid fa-file-image resume_icon"></i>
                                <% } %>
                            </a>
                        </td>
                    </tr>
                    <% } %>
                </tbody>
            </table>



      
        </div>
    </div>

</div>

</div>


<!-- <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script> -->
<script src="/static/js/main_dataTable.js"></script>
<script src="/static/js/manager_interview_schedule.js"></script>r
<script src="/static/cdn/sweetalert2/sweetalert2.js"></script>

<!-- <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/js/bootstrap.bundle.min.js" integrity="sha384-YvpcrYf0tY3lHB60NNkmXc5s9fDVZLESaAA55NDzOxhy9GkcIdslK1eN7N6jIeHz" crossorigin="anonymous"></script> -->
<!-- <script src="/static/js/manager_requirement.js"></script> -->



</body>
</html>