<!DOCTYPE html>
<html lang="en">

<head> 
     <title>HRM</title>
    <link rel="icon" href="/static/images/it.webp">
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Employee Data</title>

<link rel="stylesheet" href="/static/css/dataTable.bootstrap.css">
<link rel="stylesheet" href="/static/css/manager_view_jd.css">
   

</head>

<body>

    <%-include('../common/header')%>
    <%-include('../common/sidebar')%>

    <div class="mt-5"></div>

    <div class="container-fluid h-100 position-relative">
        <button class=" pos offbtn border-0 p-0 " type="button" data-bs-toggle="offcanvas" data-bs-target="#offcanvasWithBothOptions" aria-controls="offcanvasWithBothOptions">
       <i class="fa-solid  fa-angles-right rounded-end-3 text-light side_button fs-5 bg_bl  span_expand "></i>
          </button>
    <div class="row dyn_row justify-content-end ">
            <div class="col-xl-10 col-md-9 col-8 dyn_col px-3  ps-4">
                <h5 class="text-center mt-3 text-light fs_16">
                    <center>Manager View Requirement
                    </center>
                </h5>
                <div class="p-1">
                    <table class="w-100 table_text_aling_middle table-bordered border-dark" id="jd_table">
                        <thead class="table_bg">
                            <tr>
                               
                                <th>JD ID</th>
                                <th>Business</th>

                                <th>Function</th>
                                <th>Job Tilte</th>

                              
                                <th>Pdf</th>

                            </tr>
                        </thead>
                        <tbody>
                            <%for(var i=0; i<data.length; i++){%>
                                <tr>

                                   
                                    <td>
                                        <%=data[i].prefix.concat(data[i].jd_id)%>
                                    </td>
                                    <td>
                                        <%=data[i].business %>
                                    </td>
                                    
                                    <td>
                                        <%= data[i].function %>
                                    </td>
                                    <td>
                                        <%= data[i].job_title %>
                                    </td>
                                    

                                <td>
                                        <i class="fa-solid fa-file-pdf dwnld" jd_id="<%=data[i].jd_id%>" bussniess="<%=data[i].business %>" job_title="<%= data[i].job_title %>" func="<%= data[i].function %>"></i>
                                       
                                    </td>
                                </tr>
                                <%}%>
                        </tbody>
                    </table>


                </div>
            </div>
        </div>


        <div class="container-fluid pdf pdf-fluid" id="printpdf">

            <table class="table">
                <thead >
                <tr >
                    <th colspan="4" class="text-center job  cent" style="text-align: center  !important;">JOB DESCRIPTION</th>
                </tr>
                <tr>
                    <th>Job Title:</th>
                    <th colspan="2"><b id="p_title"></b></th>
                    <div class="image">
                    <th rowspan="5" class="logo"><center><img src="/static/images/images-removebg-preview.png" class="img-fluid image_logo" alt="" srcset=""></center></th>
                </div>
                </tr>
              
                <tr>
                    <td>Department/Group:</td>
                    <td colspan="2" id="p_func"></td>
                </tr>
                <tr>
                    <td>Reporting to:</td>
                    <td colspan="2" id="Reporting"></td>
                </tr>
                <tr>
                    <td>Team Size:</td>
                    <td colspan="2" id="team"></td>
                </tr>
                <tr>
                    <td>Location:</td>
                    <td colspan="2" id="Location"></td>
                </tr>
                <tr>
                    <th colspan="4" class="text-center job cent" style="text-align: center  !important;">ABOUT US</th>
                </tr>
                <tr>
                    <td colspan="4">
                        <div class="content" >
                           
                           <div id="#p_about">
                            Manthan it solutions Agri and Consumer Products Limited (MIS) is a part of the <b>Jubilant Bhartia Group</b>–a global Conglomerate with strong presence in diverse sectors like Pharmaceuticals, Life Science, Food Services, Motor Works, Oil & Gas Consulting, Consumer & Agri Products and Performance Polymers. <br><br>
    
                            <b>Manthan it solutions Agri and Consumer Products Limited (MIS)</b> is a unique and well diversified portfolio across Consumer Products, Agri and Performance Polymers like:
    
                            <ul class="und_list">
                                <li> <b>Consumer Products:</b>
                                    <ol type="a">
                                        <li><b>2nd largest Consumer Brand </b>in the <b>Wood Work Adhesives</b>  with a range of Premium Adhesives under popular brands like JivanJor and Vamicol. These brands have a strong National presence through a distribution network of over 300+ distributors and 10,000+ dealers</li>
                                        <li>
                                            A significant player in <b>Wood Finishes and Wood Preservatives </b>category with its popular Charmwood brand. The company has also made strategic tie ups with Large Global players like Verinlegno Spa, Italy to offer a strong portfolio of Premium & Specialised Poly Urethane (PU) Paints under the brand Ultra Italia. 
                                        </li>
                                    </ol>
                                </li>
                                <li> <b></b>
                                    <ol type="a">
                                        <li><b>The largest manufacturer in India and 2nd largest globally of Performance Polymers </b>like VP Latex, supplying this key ingredient to leading Tyre manufacturers globally such as JK Tyres, SRF, Continental Tyres (USA) etc.</li>
                                        <li>
                                           <b>2nd largest globally and only Indian manufacturer and Supplier of Food </b>like SPVA – a key ingredient in Chewing Gums; with supplies to leading global brands like Wrigleys, Mondelez, Perfetti Van Melle and others
                                        </li>
                                    </ol>
                                </li>
    
                                <li>
                                   <b>Agri Products</b>- One of India’s leading producer of Agri Products like SSP (Single Super Phosphate), Fertilizers for Crop Nutrition & Crop Growth under its flagship brand RAMBAN; and also producer of Industrial Chemical (Sulphuric Acid).
                                </li>
    
                            </ul>
    
                            The organisation has a strong Innovation Culture as its bedrock to support its ambition to deliver World Class products and services to its customers and consumers across the globe. Fully owned State of the art manufacturing facilities at Gajraula & Sahibabad in Uttar Pradesh, Kapasan in Rajasthan and Savli in Gujarat manufacture World class products <b>which are distributed across the country and exported to over 35+ countries.</b> <br><br>
    
                            With a team of 1000 + dedicated and passionate professionals, JACPL is well poised to accelerate on the journey of building exciting businesses and brands, producing best in class products and <b>transforming itself to deliver exponential growth and stronger shareholder value.</b><br><br>
                            
                            <b>JACPL is a wholly owned subsidiary of Jubilant Industries Limited (JIL) and listed on BSE & NSE since Feb 14, 2011.</b>
    
    
                           </div>
                            
                        
                        
                            <h6 class="fs-13 mt-3 fw-semibold" >Role Summary:</h6>
                            <div id="p_rs"></div>
                        
                          
                            <h6 class="fs-13 mt-3 fw-semibold">Roles and Responsibilities:</h6>
                            <div id="p_rns"></div>
                            
                            <h6 class="fs-13 mt-3 fw-semibold">Key Performance Indicators:</h6>
                           <div id="p_kpi">
    
                           </div>
                        
                            <h6 class="fs-13 mt-3 fw-semibold">Educational Qualifications / Professional Experience:</h6>
                            <div id="p_eq">
    
                            </div>
                        
                            <h6 class="fs-13 mt-3">Candidate Requirements:</h6>
                            <div id="p_can">
    
                            </div>
                        </div>
                                        
        </td>
                </tr>
                </thead>
            </table>
        </div>

    </div>

    <script src="/static/cdn/sweetalert2/sweetalert2.js"></script>

    <script src="/static/js/manager_view.js"></script>
    <script src="/static/js/main_dataTable.js"></script>
    <script src="/static/cdn/printThis.js"></script>
    
</body>
</html>